beautifulsoup4==4.5.1
Django==1.11.10
django-heroku==0.3.1
ez-setup==0.9
future==0.15.2
gitdb==0.6.4
GitPython==2.0.8
gTTS==1.1.6
gTTS-token==1.1.1
gensim==3.4.0
gunicorn==19.6.0
html2text==2016.5.29
Jinja2==2.8
MarkupSafe==0.23
pyvona==1.1
queuelib==1.4.2
requests==2.11.0
six==1.10.0
smmap==0.9.0
SpeechRecognition==3.4.6
virtualenv==15.0.3
w3lib==1.15.0
wikipedia==1.4.0
wolframalpha==2.4
zope.interface==4.2.0
whitenoise==3.3.1
Flask == 0.12.2
keras
numpy
nltk
scikit-learn
h5py
tensorflow
Theano==1.0.1  

